.footer {
  display: flex;
  justify-content: end;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #05204A;
  background-color: #70A288;
  margin:0px
}
.github {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 10px;
  color:#05204A 
  //;1768AC
}