// * {
//   box-sizing: border-box;
// }

.title-div {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  color: #455561;
  
}
.homepage {
  background: url('https://i.imgur.com/Lhu4jMI.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100pc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.map-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #70A288;
  color:#455561
  // #80D39B
}