.nav-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  justify-content: space-evenly;
  background-color: #70A288;
  border: 1px solid #455561;
}

.nav-item {
  color: #455561;
  font-size: 20px;
  text-decoration: none;
}




// .nav-style {
//   display: grid;
//   grid-template-columns: 12fr 2fr 2fr 2fr 2fr;
//   align-items: end;
//   width: 90%;
//   margin-top: 8px;
// }
// .btn-nav {
//   margin-right: 25px;
//   width: 120px;
//   padding-top: 10px;
//   border: 2px solid #A9B3CE;
// }

// .btn-logo{
//   img {
//     margin-top: 20px;
//     max-height: 100px;
//     max-width: 100px;
//   }
//   margin-left: 50px;
// }

// .nav-offers {
//   // margin-left: 10px;
//   margin-right: -80px;
// }